.Discount-List {
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 576px;
  &.bg {
    &-0 {
      background: url("https://res.cloudinary.com/mang013022002/image/upload/v1666771524/SaleOff/geometric-shape-mysterious-black-banner_2756733_sznflb.jpg");
    }
    &-1 {
      background: url("hhttps://res.cloudinary.com/mang013022002/image/upload/v1666771523/SaleOff/cuff-2251146_960_720_vrjrfs.jpg");
    }
    &-2 {
      background: url("https://res.cloudinary.com/mang013022002/image/upload/v1667555319/SaleOff/sale01_vjzd2l.jpg");
    }
    &-3 {
      background: url("https://res.cloudinary.com/mang013022002/image/upload/v1667555315/SaleOff/sale02_b0bjuh.jpg");
    }
    &-4 {
      background: url("https://res.cloudinary.com/mang013022002/image/upload/v1667555315/SaleOff/sale03_pnlzvc.jpg");
    }
  }
  .header {
    height: 64px;
    &-item {
      & > * {
        color: grey;
      }
      &.active {
        background-color: transparent;
        & > * {
          color: #f1f1f1;
        }
      }
    }
  }

  .Related-Products {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .Discount-List {
    .header {
      display: none;
    }
    .countdown {
      display: none;
    }
  }
}
